In [1]:
import pandas as pd
import numpy as np
import random
import time
import datetime as dt

# Lists and Dictionaries via Zipping and Comprehensions

In [2]:
# zipping two or more separate lists to generate a combined list of tuples

# example: assume we have multiple values the script has provided;
# for instance, different prediction accuracy metrics such as RMSE, MAPE, R-squared
# we want to assign each of the results to a specific variable

inputs = [1, 0.04, 0.9]

# clumsy: manual assignment of a results list and assigning to specific variables:
inputs = [1, 0.04, 0.9]
rmse = inputs[0]
mape = inputs[1]
rsq = inputs[2]

# better: unpacking of the list
rmse, mape, rsq = inputs


# collect multiple calculations results in a list
acc_values = [rmse, mape, rsq]

# define a list of names for these results
acc_names = ["RMSE", "MAPE", "R-sq"]

# alternative to creating a list: 
# asterisk * in front of the list variable; and a comma , behind it
*acc_names, = "RMSE", "MAPE", "R-SQ"

acc_names

['RMSE', 'MAPE', 'R-SQ']

In [3]:
# combine the names of the metrics and their values 
# via zipping to a list of tuples

acc_list = list(zip(acc_names, acc_values))

acc_list

[('RMSE', 1), ('MAPE', 0.04), ('R-SQ', 0.9)]

In [4]:
# unzipping a list of tuples: use the asterisk *

names, values = zip(*acc_list)

print(names)
print(values)

('RMSE', 'MAPE', 'R-SQ')
(1, 0.04, 0.9)

In [5]:
# zipping lists of unequal length
# zip takes the shorter list and skips the corresponding item of the longer partner list

*acc_names2, = "RMSE", "MAPE"
*acc_values2, = rmse, mape, rsq

acc_list2 = list(zip(acc_names2, acc_values2))
acc_list2

[('RMSE', 1), ('MAPE', 0.04)]

In [6]:
# zipping lists of unequal length by using function zip_longest
# zip_longest also shows list items that don't have a partner item in the other list

from itertools import zip_longest

# create multiple lists
*acc_names3, = "RMSE", "MAPE", "R-sq", "MSE"
*acc_values3, = rmse, mape, rsq

# combine them to a list of tuples
acc_list3 = list(zip_longest(acc_names3, acc_values3))
acc_list3

[('RMSE', 1), ('MAPE', 0.04), ('R-sq', 0.9), ('MSE', None)]

In [7]:
# convert the list of zipped tuples to a dictionary

acc_dict = dict(acc_list)
acc_dict

{'RMSE': 1, 'MAPE': 0.04, 'R-SQ': 0.9}

In [8]:
# zip the lists of names and values directly into a dictionary,
# without creating a list of tuples in between

acc_dict = {k: v for k, v in zip(acc_names, acc_values)}
acc_dict

{'RMSE': 1, 'MAPE': 0.04, 'R-SQ': 0.9}

In [9]:
# unpack the values of a dictionary and assign to separate variables

rmse, mape, rsq = acc_dict.values()
print(rmse)
print(mape)
print(rsq)

1
0.04
0.9

In [10]:
# unpack the values or keys of a dictionary to a list
# use the .keys and .values() functions and then typecast to a list using the list() function

acc_keys = list(acc_dict.keys())   
print(acc_keys) 
acc_values = list(acc_dict.values())    
print(acc_values)

['RMSE', 'MAPE', 'R-SQ']
[1, 0.04, 0.9]

In [11]:
# unpack the keys and values of a dictionary to separate tuples

rmse, mape, rsq = acc_dict.items()
print(rmse)
print(mape)
print(rsq)

('RMSE', 1)
('MAPE', 0.04)
('R-SQ', 0.9)

In [12]:
# unpack a dictionary to a list of tuples by using zip() and list()

acc_tuples = list(zip(acc_dict.keys(), acc_dict.values()))
acc_tuples

[('RMSE', 1), ('MAPE', 0.04), ('R-SQ', 0.9)]

In [13]:
# unpack a dictionary to a list of tuples 

acc_tuples = list(acc_dict.items())
acc_tuples

[('RMSE', 1), ('MAPE', 0.04), ('R-SQ', 0.9)]

In [14]:
# print the dictionary values and their names line by line: list comprehension

[print(k, ":", v) for k,v in acc_dict.items()]

RMSE : 1
MAPE : 0.04
R-SQ : 0.9

[None, None, None]

In [15]:
# list comprehension for printing, without list of Nones

[print(k, ":", v) for k,v in acc_dict.items()]
print("\n")

RMSE : 1
MAPE : 0.04
R-SQ : 0.9

In [16]:
# list comprehension for printing, without list of Nones

[print(k, ":", v) for k,v in acc_dict.items()]
pass

RMSE : 1
MAPE : 0.04
R-SQ : 0.9

In [17]:
# dictionary comprehension for printing, without list of Nones

y = [print(k, ":", v) for k,v in acc_dict.items()]

RMSE : 1
MAPE : 0.04
R-SQ : 0.9

In [18]:
# dictionary comprehension for printing, without list of Nones

_ = [print(k, ":", v) for k,v in acc_dict.items()]

RMSE : 1
MAPE : 0.04
R-SQ : 0.9

In [19]:
# list comprehension for pretty-printing, with number format

c = [print(k, ":", f'{v:.1f}') for k,v in acc_dict.items()]

RMSE : 1.0
MAPE : 0.0
R-SQ : 0.9

In [20]:
# on the web, I've seen an alternative:
# the use of functions with a loop to unpack and print dictionary items
# the double asterisk ** in the function call unpacks the dictionary
# the **kwargs argument accepts an undetermined number of keyword arguments
# it needs 4 lines of code where the list comprehension needed 1 to print the dictionary

def print_dict(**kwargs):
    for key,value in kwargs.items():
        print(f'{key}:{value:.1f}')

# call function:
print_dict(**acc_dict)

RMSE:1.0
MAPE:0.0
R-SQ:0.9

In [21]:
# summary:
# if you have multiple values with individual names, e.g. a list of metrics which
# you want to summarize, collect the values in a list
rmse = 1
mape = 0.04
rsq = 0.9
acc_values = [rmse, mape, rsq]

# define a list of names for the metrics
acc_names = ["RMSE", "MAPE", "R-sq"]

# combine the lists of names and values via zipping to a dictionary
acc_dict = {k: v for k, v in zip(acc_names, acc_values)}

# pretty-print the dictionary of metrics
_ = [print(k, ":", f'{v:.1f}') for k,v in acc_dict.items()]

_ = [print(k, ":", f'{v:.1f}') for k,v in {k: v for k, v in zip(acc_names, acc_values)}.items()]

RMSE : 1.0
MAPE : 0.0
R-sq : 0.9
RMSE : 1.0
MAPE : 0.0
R-sq : 0.9

# Performance of Comprehensions vs. Loops

In [22]:
# small list of random numbers: the jurassic way to square them in a for loop

rands = [random.randrange(1, 100, 1) for i in range(5)]
print(rands)

# list of random numbers: the jurassic way to square them in a for loop
rands2 = []
for n in rands:
    n = n**2
    rands2.append(n)
print(rands2)


# list comprehension to square them
c = [n**2 for n in rands]
c

[79, 6, 97, 47, 25]
[6241, 36, 9409, 2209, 625]

[6241, 36, 9409, 2209, 625]

In [23]:
# list comprehension to square each number in a LARGE list of 100,000 numbers

rands = [random.randrange(1, 100, 1) for i in range(100000)]

t = time.perf_counter()
# >>>>>>>>>>>>>>>>>>>>>>>>
rands2 = []
for n in rands:
    n = n**2
    rands2.append(n)
# >>>>>>>>>>>>>>>>>>>>>>>>
tLoop = time.perf_counter() - t
print(f'{tLoop:.3f} sec')


t = time.perf_counter()
# >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
_ = [n**2 for n in rands]
# >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
tComp = time.perf_counter() - t
print(f'{tComp:.3f} sec: comprehension vs loop: {100*(tComp/tLoop-1):.1f}%')

0.057 sec
0.042 sec: comprehension vs loop: -26.1%

In [24]:
# expression with a condition (filter via if): 
# square only those of the 100,000 numbers in the list which exceed 90

rands = [random.randrange(1, 100, 1) for i in range(100000)]

t = time.perf_counter()
# >>>>>>>>>>>>>>>>>>>>>>>>
rands2 = []
for n in rands:
    if n > 90:
        n = n**2
        rands2.append(n)
# >>>>>>>>>>>>>>>>>>>>>>>>
tLoop = time.perf_counter() - t
print(f'{tLoop:.3f} sec')


t = time.perf_counter()
# >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
c = [n**2 for n in rands if n > 90]
# >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
tComp = time.perf_counter() - t
print(f'{tComp:.3f} sec: comprehension vs loop: {100*(tComp/tLoop-1):.1f}%')

print("found: " + str(len(rands2)))
print("found: " + str(len(c)))

0.015 sec
0.007 sec: comprehension vs loop: -54.0%
found: 9128
found: 9128

In [25]:
# expression with condition (filter via if): square only the even numbers among the 100,000 in the list

rands = [random.randrange(1, 100, 1) for i in range(100000)]


t = time.perf_counter()
# >>>>>>>>>>>>>>>>>>>>>>>>
rands2 = []
for n in rands:
    if n % 2 == 0:
        n = n**2
        rands2.append(n)
# >>>>>>>>>>>>>>>>>>>>>>>>
tLoop = time.perf_counter() - t
print(f'{tLoop:.3f} sec')


t = time.perf_counter()
# >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
c = [n**2 for n in rands if n % 2 == 0]
# >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
tComp = time.perf_counter() - t
print(f'{tComp:.3f} sec: comprehension vs loop: {100*(tComp/tLoop-1):.1f}%')

print("found: " + str(len(rands2)))
print("found: " + str(len(c)))

0.043 sec
0.027 sec: comprehension vs loop: -38.4%
found: 49512
found: 49512

In [26]:
# list comprehension for text

# create a list of 10,000 dates
datlist = pd.date_range(dt.datetime.today(), periods=10000).tolist()

# convert the dates to strings via list comprehension
datstrlist = [d.strftime("Day %d in %B of year %Y is a %A") for d in datlist]
datstrlist[:4]

['Day 17 in October of year 2021 is a Sunday',
 'Day 18 in October of year 2021 is a Monday',
 'Day 19 in October of year 2021 is a Tuesday',
 'Day 20 in October of year 2021 is a Wednesday']

In [27]:
# filter the list of strings:
# example: add "weekend" to Saturdays and Sundays in October of each year

t = time.perf_counter()
# >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
strLoop = []
for d in datstrlist:
    if (d.endswith("urday") or d.endswith("unday")) and "Oc" in d:
        strLoop.append(d + " = Oct weekend")
    else:
        strLoop.append(d)
# >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
tLoop = time.perf_counter() - t
print(f'{tLoop:.4f} sec')


t = time.perf_counter()
# >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
c = [d + " = Oct weekend" if ((d.endswith("urday") or d.endswith("unday")) and "Oc" in d) else d for d in datstrlist]
# >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
tComp = time.perf_counter() - t
print(f'{tComp:.4f} sec: comprehension vs loop: {100*(tComp/tLoop-1):.1f}%')

df = pd.DataFrame(list(zip(strLoop,c)), columns=("loop","comprehension"))
df

0.0046 sec
0.0042 sec: comprehension vs loop: -8.5%

,loop,comprehension
0,Day 17 in October of year 2021 is a Sunday = O...,Day 17 in October of year 2021 is a Sunday = O...
1,Day 18 in October of year 2021 is a Monday,Day 18 in October of year 2021 is a Monday
2,Day 19 in October of year 2021 is a Tuesday,Day 19 in October of year 2021 is a Tuesday
3,Day 20 in October of year 2021 is a Wednesday,Day 20 in October of year 2021 is a Wednesday
4,Day 21 in October of year 2021 is a Thursday,Day 21 in October of year 2021 is a Thursday
...,...,...
9995,Day 27 in February of year 2049 is a Saturday,Day 27 in February of year 2049 is a Saturday
9996,Day 28 in February of year 2049 is a Sunday,Day 28 in February of year 2049 is a Sunday
9997,Day 01 in March of year 2049 is a Monday,Day 01 in March of year 2049 is a Monday
9998,Day 02 in March of year 2049 is a Tuesday,Day 02 in March of year 2049 is a Tuesday
9999,Day 03 in March of year 2049 is a Wednesday,Day 03 in March of year 2049 is a Wednesday

In [115]:
# loops vs vs set comprehensions
# find all prime numbers up to N using the sieve of Eratosthenes

N = 100000

t = time.perf_counter()
# >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
primes_loop = set(range(2, N))
for i in range(2, int(N**0.5)+1):
    for j in range(i**2, N, i):
        primes_loop.discard(j)

# >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
tLoop = time.perf_counter() - t
print(f'{tLoop:.5f} sec')


t = time.perf_counter()
# >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
primes_setcomp = set(range(2,N)) - {j for i in range(2, int(N**0.5)+1) for j in range(i**2, N, i)}

# >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
tComp = time.perf_counter() - t
print(f'{tComp:.4f} sec: set comprehension vs loop: {100*(tComp/tLoop-1):.1f}%')


assert primes_loop == primes_setcomp
primes_list1 = [p for p in primes_loop if p < 100] 
primes_list2 = [p for p in primes_setcomp if p < 100] 
df = pd.DataFrame([primes_list1, primes_list2])
df

0.13230 sec
0.0559 sec: set comprehension vs loop: -57.7%

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,2,3,5,7,11,13,17,19,23,29,...,53,59,61,67,71,73,79,83,89,97
1,2,3,5,7,11,13,17,19,23,29,...,53,59,61,67,71,73,79,83,89,97

In [28]:
# comprehensions vs lambda-filters

t = time.perf_counter()
# >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
strLamb = filter(lambda d: ((d.endswith("urday") or d.endswith("unday")) and "Oc" in d), datstrlist)
# >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
tLamb = time.perf_counter() - t
print(f'{tLamb:.6f} sec')


t = time.perf_counter()
# >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
c = [d for d in datstrlist if ((d.endswith("urday") or d.endswith("unday")) and "Oc" in d)]
# >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
tComp = time.perf_counter() - t
print(f'{tComp:.6f} sec: comprehension vs lambda-filter: {100*(tComp/tLamb-1):.1f}%')


df = pd.DataFrame(list(zip(strLamb,c)), columns=("lambda","comprehension"))
df

0.000131 sec
0.003407 sec: comprehension vs lambda-filter: 2508.9%

,lambda,comprehension
0,Day 17 in October of year 2021 is a Sunday,Day 17 in October of year 2021 is a Sunday
1,Day 23 in October of year 2021 is a Saturday,Day 23 in October of year 2021 is a Saturday
2,Day 24 in October of year 2021 is a Sunday,Day 24 in October of year 2021 is a Sunday
3,Day 30 in October of year 2021 is a Saturday,Day 30 in October of year 2021 is a Saturday
4,Day 31 in October of year 2021 is a Sunday,Day 31 in October of year 2021 is a Sunday
...,...,...
238,Day 17 in October of year 2048 is a Saturday,Day 17 in October of year 2048 is a Saturday
239,Day 18 in October of year 2048 is a Sunday,Day 18 in October of year 2048 is a Sunday
240,Day 24 in October of year 2048 is a Saturday,Day 24 in October of year 2048 is a Saturday
241,Day 25 in October of year 2048 is a Sunday,Day 25 in October of year 2048 is a Sunday
242,Day 31 in October of year 2048 is a Saturday,Day 31 in October of year 2048 is a Saturday